/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --corPrimary:#f3f3f3;
    --corFundo:#fff;
    --corBorder:#0000001b;
    --corText:#000;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

body,
body a{
    color: var(--corText);
}

body {
    flex: 1;
}

/* Estrutura principal do app */
#app {
    width: 100%;
    height: 100%;
    background-color: var(--corPrimary);
    display: block;
}

#app-body {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
}

/* Cabeçalho do app */
#app-header {
    height: 40px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
}

/* Menu lateral */
#menu {
    display: none;
    position: absolute;
    background-color: var(--corFundo);
    width: 215px;
    height: 100%;
    z-index: 2;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid var(--corBorder);
}

#menu.active {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}


#app-menu-lateral {
    height: 100%;
    width: 60px;
    z-index: 3;
    display: flex;
    justify-content: start;
    background: none;
}

#app-menu-lateral ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

#app-menu-lateral ul li {
    margin-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

#app-menu-lateral ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    flex-direction: row;
    border-radius: 10px;
    padding-left: 4px;
    text-decoration: none;
    position: relative;
}

#app-menu-lateral ul li a:hover,
#menu-hamburguer:hover {
    background-color: var(--corBorder);
    cursor: pointer;
}
.menu-item div{
    display: none;
    position: absolute;
    left: 0;
    height: 22px;
    width: 4px;
    border-radius: 10px;
    background-color: green;
}

.menu-item.active {
    background-color: var(--corBorder);
}
.menu-item.active div{
    display: block;
}

#app-menu-lateral ul li a span {
    display: none;
    margin-left: 16px;
    font-size: 16px;
    width: 150px;
}

#app-menu-lateral ul li a span.active {
    display: block;
    animation: teste 0.3s ease-in-out;
}

@keyframes teste {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

#app-menu-lateral img {
    height: 30px;
    margin-left: 1.5px;
}

/* Botão do menu hamburguer */
#menu-hamburguer-button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
}

.menu-hamburguer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.menu-hamburguer div {
    height: 1px;
    width: 15px;
    background-color: #000;
    transition: width 0.2s ease-in-out;
}

.menu-hamburguer.active div {
    width: 9px;
}


/* Conteúdo principal */
#app-content {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
    border: 1px groove #0000000c;
}

#janela {
    height: 100%;
    width: 100%;
    /* background-image: url("https://media.istockphoto.com/id/1186939191/pt/vetorial/dashboard-icon-in-flat-style-finance-analyzer-vector-illustration-on-white-isolated.jpg?s=612x612&w=0&k=20&c=IXd2-7sh93BreAO904q7Pq-zZo9Efm39_VnQCR2lB0U="); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--corFundo);
    background-position: center;
}


/* Botões da barra de título */
.title-bar-buttons {
    display: flex;
    justify-content: end;
    height: 50px;
}

.title-bar-buttons img {
    height: 22px;
    background: none;
}

#minimizeButton{
    padding-bottom: 10px;
}

.title-bar-buttons a {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    height: 37px;
}

.title-bar-buttons a:hover {
    background-color: #02020225;
}

#closeButton:hover {
    background-color: #ff000091;
}

/* Barra de título */
.title-bar {
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    z-index: 3;
}

.title-bar-icon {
    height: 25px;
}

.title-bar-text {
    flex-grow: 1;
    text-align: start;
    -webkit-app-region: drag;
    font-weight: 500;
}


/*Lita das funções (janelas)*/

#content {
    background-color: var(--corFundo);
    height: 100%;
    min-width: 280px;
    max-width: 280px;
    border-right: 1px solid var(--corBorder);
    position: relative;
}


.header-list{
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--corBorder);
    background-color: var(--corFundo);
    padding: 0px 15px;
}

.header-list h1{
    font-size: 25px;
}

.header-list img{
    height: 35px;
}

.conteudo-list{
    overflow-y: auto;
    position: relative;
    max-height: calc(100% - 60px);
    width: 100%;
}

/*scroll*/
#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--corPrimary);
	border-radius: 10px;
	background-color: var(--corBorder);
}

#scroll::-webkit-scrollbar
{
	width: 3px;
	background-color: #fff;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}


.conteudo-list .container-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px 0;
}

.conteudo-list li{
    height: 50px;
    list-style: none;
    border-radius: 10px;
    margin: 0 8px;
}

.conteudo-list li a{
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
}

.conteudo-list li:hover{
    background-color: var(--corPrimary);
}

.menu-item-list.active{
    background-color: rgb(232 232 232);
}


.conteudo-list li img{
    height: 30px;
}

.container-list div{
    margin-right: 10px;
    place-content: center;
    background-color: rgb(232 232 232);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    margin-left: 10px;
}

.container-list > span{
    position: sticky;
    top: 0px;
    font-size: 15px;
    background-color: var(--corFundo);
    padding: 5px 13px;
}