* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
    display: block;
}

#app-body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#app-header {
    height: 40px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
}

#menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 215px;
    height: 100vh;
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
}

#app-menu-lateral {
    height: 100%;
    width: 60px;
    z-index: 11;
    display: flex;
    justify-content: start;
}

#app-menu-lateral ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

#app-menu-lateral ul li {
    margin-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

#app-menu-lateral ul li a {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    flex-direction: row;
    border-radius: 10px;
    padding-left: 4px;
    text-decoration: none;
    color: inherit;
}

#app-menu-lateral ul li a:hover,
#menu-hamburguer:hover {
    background-color: #0000001b;
    cursor: pointer;
}

#app-menu-lateral ul li a span {
    display: none;
    margin-left: 16px;
    color: #000;
    font-size: 18px;
}

#app-menu-lateral ul li a:hover span{
    padding-right: 80px;
}

#menu-hamburguer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
}

.menu-hamburguer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.menu-hamburguer div {
    height: 1px;
    width: 15px;
    background-color: #000;
    transition: width 0.2s ease-in-out;
}

.menu-hamburguer.active div {
    width: 9px;
}

.menu-hamburguer:focus-within div {
    animation: resize-animation 0.2s forwards;
}

@keyframes resize-animation {
    50% {
        width: 9px;
    }
    100% {
        width: 15px;
    }
}

#app-menu-lateral img {
    height: 30px;
    margin-left: 1.5px;
}

#app-content {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
    overflow: hidden;
}

#janela {
    background-color: #ff0000;
    height: 100%;
    width: 100%;
}

#content {
    background-color: aqua;
    height: 100%;
    width: 350px;
}

.title-bar-buttons {
    display: flex;
    justify-content: end;
    height: 50px;
}

.title-bar-buttons img {
    margin-top: 8px;
    height: 14px;
}

.title-bar-buttons button {
    background: none;
    display: flex;
    align-items: start;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    height: 37px;
}

.title-bar-buttons button:hover {
    background-color: #02020225;
}

#closeButton:hover {
    background-color: #ff000091;
}

.title-bar {
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    -webkit-app-region: drag;
    z-index: 10;
}

.title-bar-icon {
    height: 25px;
}

.title-bar-text {
    flex-grow: 1;
    text-align: start;
    -webkit-app-region: drag;
}
