* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#header-global{
    background-color: #f3f3f3;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: end;
    -webkit-app-region: drag; /* Impede arrastar a partir do texto */
}

.title-bar-buttons {
    display: flex;
    height: 50px;
}

.title-bar-buttons img {
    margin-top: 8px;
    height: 14px;
}

.title-bar-buttons button {
    background: none;
    display: flex;
    align-items: start;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    -webkit-app-region: no-drag; /* Impede arrastar a partir dos botões */
    height: 37px;
}

.title-bar-buttons button:hover {
    background-color: #02020225;
}



/*=-=-=-=-=-=-=Menu lateral=-=-=-=-=-=*/

.title-bar {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    -webkit-app-region: drag; /* Permite arrastar a janela */
}


.title-bar-icon {
    height: 25px;
}

.title-bar-text {
    flex-grow: 1;
    text-align: start;
    -webkit-app-region: drag; /* Impede arrastar a partir do texto */
}

.menu-lateral {
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    overflow: hidden;
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
}

.menu-lateral ul img{
    height: 30px;
}

.menu-hamburguer div{
    height: 1px;
    margin-top: 3px;
    width: 15px;
    background-color: #000;
}

